@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.action {
  color: var(--color-fourth);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}